body {
  display: flex;
  flex-direction: column;
  font-family: "Courier New","Verdana", sans-serif;
}

.button {
  background-color: rgb(22, 22, 22);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 12px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 130px;
  font-weight: bold;
}

.button:hover {
  background-color: rgb(43, 43, 43);
}

.fulldiv {
  background-image: url('./infected.jpg');
  background-size: 100% 100%;
  background-repeat: unset;
  background-attachment: fixed;
  height: 880px;
  padding-left: 300px;
  padding-right: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.buttonresults {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: rgba(33, 33, 33, 0.763);
  border: none;
  border-radius: 12px;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 70px;
  padding-left: 40px;
  padding-right: 40px;
}

.buttondiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resultsdivfull {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#results {
  height: 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

#resultsTwo {
  height: 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

#referee {
  height: 20px;
  color: rgb(245, 255, 178);
  font-weight: bold;
  font-size: 20px;
}

#reloadButton {
  background-color: rgb(22, 22, 22);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 12px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 580px;
  font-weight: bold;
  font-size: 20px;
}

#reloadButton:hover {
  background-color: rgb(29, 29, 29);
  box-shadow: 2px 2px 50px black;
}