body {
  display: flex;
  flex-direction: column;
  font-family: "Courier New","Verdana", sans-serif;
}

.button {
  background-color: rgb(33, 33, 33);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 12px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100px;
  font-weight: bold;
}

.fulldiv {
  background-image: url('./infected.jpg');
  background-size: 100% 100%;
  background-repeat: unset;
  background-attachment: fixed;
  height: 880px;
  padding-left: 300px;
  padding-right: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.buttonresults {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: rgba(33, 33, 33, 0.763);
  border: none;
  border-radius: 12px;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 70px;
  padding-left: 40px;
  padding-right: 40px;
}

.buttondiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.resultsdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

#results {
  height: 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}